{% macro code_snippet(
        source='Set source= to view source here', 
        sources=[],
        language='markup', 
        class=false, 
        preformatted=false,
        filename=false,
        show_copy_button=true, 
        copy_button_text="Copy Code",
        copy_button) %}

    {% set esds_doc_overrides_path = esds_doc_overrides_path | default('./esds_doc_overrides/esds-doc-overrides-default.njk') %}
    {% from esds_doc_overrides_path import esds_doc_overrides with context %}
    
    {# Set markup for the copy button in this order:
        1. If a copy_button argument was passed into the macro, use that
        2. Otherwise if a copy_button argument is set on the esds_doc_overrides object, use that
        3. Otherwise default to false which will trigger usage of the default ESDS Doc button
     #}
    {% set copy_button = copy_button | default(esds_doc_overrides.code_snippet.copy_button) | default(false) %}
    

    {% set code_snippet_id = "esds-doc-code-snippet--" + range(0, 100000) | random %}
    {% if language == 'njk' %}
        {% set language = 'twig' %}
    {% endif %}

    {% if language != 'css' and language != 'scss' and language != 'markup' and language != 'html'  %}
        {% set preformatted = true %}
    {% endif %}

    <div class="esds-doc-code-snippet{{ ' ' + class if class }}">
        {# Upcoming feature - support multiple tabs with different source examples #}
        {% if sources.length > 0 %}
            <div class="esds-doc-code-snippet__tabs">
                {% for source in sources %}
                    <a href="#{{ code_snippet_id }}--{{ source.language }}" class="esds-doc-code-snippet__tab">{{ source.language }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <div class="esds-doc-code-snippet__sources-wrap">
            {% if show_copy_button %}
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Copied to clipboard
                    </div>
                    {% if copy_button %}
                        {{ copy_button | safe }}
                    {% else %}
                        {{ button(text=copy_button_text) }}
                    {% endif %}
                </div>
            {% endif %}
            {# Upcoming feature - support multiple tabs with different source examples #}
            {% if sources.length > 0 %}
                {% for source in sources %}
                    {{ render_code_snippet_source(source=source.source, language=source.language, filename=source.filename, code_snippet_id=code_snippet_id, preformatted=preformatted) }}
                {% endfor %}
            {% else %}
                {{ render_code_snippet_source(source=source, language=language, filename=filename, code_snippet_id=code_snippet_id, preformatted=preformatted) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_code_snippet_source(source, language='markup', filename, code_snippet_id, preformatted) %}
    <div class="esds-doc-code-snippet__source" id="{{ code_snippet_id }}--{{ language }}">
        {% if filename %}
            <span class="esds-doc-code-snippet__filename">{{ filename }}</span>
        {% endif %}
        <pre class="esds-doc-code-snippet__pre"><code class="language-{{ language }}">
            {%- if preformatted -%}
                {{- source | stripindent | trim -}}
            {%- elseif language == 'js' -%}
                {{- source | trim | jsbeautify -}}
            {%- elseif language == 'css' or language == 'scss' -%}
                {{- source | trim | cssbeautify -}}
            {%- else -%}
                {{- source | stripindent | htmlbeautify -}}
            {%- endif -%}
        </code></pre>
    </div>
{% endmacro %}
