:root {
  #{--grid-gap}: $jonri-codes-grid-gap;
}

.gallery-grid {
  @include grid;
  @include grid-auto(290px);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gap) * -1) 0 0 calc(var(--grid-gap) * -1);
}

.col {
  box-sizing: border-box;
  flex-basis: 100%;
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
}

@for $i from 1 through $jonri-codes-grid-columns {
  .col--#{$i} {
    flex-basis: round-width($i);
    max-width: round-width($i);
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}

// .container {
//   @include grid;
//   @include grid-layout((7, 2), (5, 1), (5, 1), (12, 1));
// }

// .container-adv {
//   @include grid;
//   @include grid-layout-advanced((1, 8, 1, 3), (1, 8, 3, 5), (5, -1, 2, 4));
// }
