{% extends "templates/sink.njk" %}
{% block body %}
    <style>
        body {
            padding: 20px;
        }
    </style>
    {% set table_example_code %}
        <table><thead><tr><th>Header</th><th>Header</th><th>Header</th><th>Header</th></tr></thead><tbody><tr><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td></tr><tr><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td></tr><tr><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td></tr><tr><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td></tr><tr><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td><td>Cell Content</td></tr></tbody></table>
    {% endset %}

    <h1 class="esds-doc-sink-page-header">Basic code snippet</h1>
    {{ library.code_snippet(source="<h1>Hello World</h1>") }}

    <h1 class="esds-doc-sink-page-header">Complex source</h1>
    {{ library.code_snippet(source=table_example_code) }}

    <h1 class="esds-doc-sink-page-header">Include filename, use css highlighting</h1>
    {{ library.code_snippet(filename="myfile.css", 
                            language="css", 
                            source="body { background: hotpink; color: red; font-family: sans-serif; font-weight: bold; }") }}

    <h1 class="esds-doc-sink-page-header">Pass nunjucks macro as source</h1>
    {{ library.code_snippet(source=library.button(text="Call To Action!")) }}

    <h1 class="esds-doc-sink-page-header">Hide copy button</h1>
    {{ library.code_snippet(show_copy_button=false, 
                            source="<h1>Hello World</h1>") }}

    <h1 class="esds-doc-sink-page-header">Default Max Height</h1>
    {{ library.code_snippet(source=table_example_code) }}

    <h1 class="esds-doc-sink-page-header">Tall Max Height</h1>
    {{ library.code_snippet(class="esds-doc-code-snippet--tall", 
                            source=table_example_code) }}

    <h1 class="esds-doc-sink-page-header">No Max Height</h1>
    {{ library.code_snippet(class="esds-doc-code-snippet--no-max-height", 
                            source=table_example_code) }}

    <h1 class="esds-doc-sink-page-header">Override Button Markup with custom markup passed to the macro</h1>
    {{ library.code_snippet(class="esds-doc-code-snippet--no-max-height", 
                                        source="<h1>Hello World</h1>",
                                        copy_button="<button>Custom Button Passed To Macro</button>") }}

    <h1 class="esds-doc-sink-page-header">Override Button Markup with custom code set globally (Alternate button markup is passed indirectly via the global variable context)</h1>
    {{ library_with_markup_overrides.code_snippet(source="<h1>Hello World</h1>") }}
{% endblock %}

{% block closing_body_assets %}
    <script>
        // Probably should have some kind of "on ready" function here
        Esds.CodeSnippet.init();
    </script>
{% endblock %}
