{% extends "templates/sink.njk" %}
{% block body %}
    <style>
        /* Override alignment */
        body {
            text-align: left;
            text-indent: 0;
        }
    </style>
    <h1 class="esds-doc-sink-page-header">Icon Swatches Sink</h1>
    <p class="esds-doc-sink-page-copy">
        Icon swatches have a minimum width with a 1:1 aspect ratio by default. If a label wraps to multiple lines the icon swatch will stretch vertically to accomodate the additional content.
    </p>
    <h2 class="esds-doc-sink-page-header">Default</h2>
    {{ library.icon_swatch(name="heart") }}
    <h2 class="esds-doc-sink-page-header">Label different than icon name</h2>
    {{ library.icon_swatch(name="envelope", label="This is the email icon") }}
    <h2 class="esds-doc-sink-page-header">Stress Test Label</h2>
    {{ library.icon_swatch(name="key", label="This is the key icon Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde debitis quia error, nihil quas quasi ad neque pariatur eius tempore! Iusto dolores praesentium modi, veniam voluptatum? Adipisci voluptatum omnis, quisquam!") }}
    <h2 class="esds-doc-sink-page-header">Short Label</h2>
    {{ library.icon_swatch(name="key", label="a") }}
    <h2 class="esds-doc-sink-page-header">Include Download Link</h2>
    {{ library.icon_swatch(name="search", 
                            download_link_href="/icons/search.svg") }}
    <h2 class="esds-doc-sink-page-header">Large Swatch</h2>
    {{ library.icon_swatch(name="calendar", 
                            class="esds-doc-icon-swatch--large",
                            label="Date picker",
                            download_link_href="/icons/calendar.svg") }}
    <h1 class="esds-doc-sink-page-header">Override Icon Markup with custom markup passed to the macro</h1>
    {% set my_icon_markup %}
        <style>
            .my-special-icon {
                background: purple;
                border: solid 2px blue;
                border-radius: 50%;
                fill: hotpink;
                height: 63px;
                width: 63px;
            }
        </style>
        <svg class="my-special-icon">
            <use xlink:href="/icons/esds-doc.svg#smiley"></use>
        </svg>
    {% endset %}
    {{ library.icon_swatch(label="Smiley Guy",
                            icon_markup=my_icon_markup) }}

    <h1 class="esds-doc-sink-page-header">Override Icon Markup with custom code set globally (Alternate icon markup is passed indirectly via the global variable context)</h1>
    {{ library_with_markup_overrides.icon_swatch(label="Using another macro", name="calendar") }}

    <h2 class="esds-doc-sink-page-header">Grid of Swatches</h2>
    {# Ideally this array would already be built by esds-build #}
    {% set icons = [
                'angle-down',
                'bars',
                'calendar',
                'download',
                'envelope',
                'file',
                'group',
                'info',
                'key',
                'list',
                'map',
                'play-circle',
                'question',
                'refresh',
                'search',
                'trash',
                'unlock'
            ]%}
    {% call library.icon_swatch_grid() %}
        {% for name in icons %}
            {{ library.icon_swatch(name=name, download_link_href="/icons/" + name + ".svg") }}
        {% endfor %}
    {% endcall %}
                            
    <h2 class="esds-doc-sink-page-header">Grid of Large Swatches</h2>
    {# Ideally this array would already be built by esds-build #}
    {% set icons = [
                'angle-down',
                'bars',
                'calendar',
                'download',
                'envelope',
                'file',
                'group',
                'info',
                'key',
                'list',
                'map',
                'play-circle',
                'question',
                'refresh',
                'search',
                'trash',
                'unlock'
            ]%}
    {% call library.icon_swatch_grid() %}
        {% for name in icons %}
            {{ library.icon_swatch(class="esds-doc-icon-swatch--large", name=name, download_link_href="/icons/" + name + ".svg") }}
        {% endfor %}
    {% endcall %}
{% endblock body %}
