{% set default_headers = ['Animals', 'Plants', 'Foods'] %}
{% set default_rows = [
            ['Elephant', 'Tree', 'Pizza'],
            ['Tiger', 'Cactus', 'Banana'],
            ['Platypus', 'Flower', 'Hamburger']] %}
