{% set default_headers = ["class", "applies_to", "outcome"] %}

{% set default_data = [{
                class: ".esds-component-name--modifier",
                applies_to: ".esds-component-name",
                outcome: "Modifies `esds-component-name` to change its background color."
            },
            {
                class: ".esds-component-name--different-modifier",
                applies_to: ".esds-component-name",
                outcome: "Modifies `esds-component-name` to change its size."
            }] %}
