$esds-doc-code-example-pair-space-stack: $esds-doc-space-stack-1-x !default;

.esds-doc-code-example-pair {
    margin: $esds-doc-code-example-pair-space-stack;
}

.esds-doc-code-example-pair__example-list {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.esds-doc-code-example-pair__code-snippet {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}
