.jc-hero--full-bleed {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.jc-hero__title {
  font-size: $jonri-codes-font-size-h1-lg;
  font-weight: $jonri-codes-font-weight-light;
  margin: $jonri-codes-space-stack-lg;
}

.jc-hero__list {
  list-style: none;
  margin: $jonri-codes-space-stack-lg;
}

.jc-hero__list-item {
  display: inline-block;
  margin: $jonri-codes-space-inline-left-md;
  padding: $jonri-codes-space-inline-left-lg;
  position: relative;

  &:last-child {
    &::after {
      content: none;
    }
  }

  &::after {
    color: $jonri-codes-text-color-secondary-on-light;
    content: '\2022';
    font-size: $jonri-codes-font-size-lg;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
