$esds-doc-icon-swatch-grid-space-grid: $esds-doc-space-generic-1-x !default;
$esds-doc-icon-swatch-grid-space-inset: $esds-doc-space-inset-1-x !default;

.esds-doc-icon-swatch-grid {
    @include esds-doc-box-sizing;
    @include esds-doc-font-reset;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$esds-doc-icon-swatch-grid-space-grid;
    padding: $esds-doc-icon-swatch-grid-space-inset;

    .esds-doc-icon-swatch {
        margin: 0 0 $esds-doc-icon-swatch-grid-space-grid $esds-doc-icon-swatch-grid-space-grid;
    }
}
