.jc-social__list {
  list-style: none;
}

.jc-social__list-item {
  display: inline-block;
  margin: $jonri-codes-space-inline-left-lg;

  &:last-child {
    margin: 0;
  }
}

.jc-social__list-link {
  display: block;
  text-decoration: none;
}

.jc-social__list-text {
  @include visually-hidden;
}

// ==========================================================================
// Social modifier classes
// ==========================================================================

.jc-social__list--center {
  text-align: center;
}
