{% import 'components/esds-doc.njk' as library with context %}

{# This separate "library_with_markup_overrides" namespace is a way to test the markup_overrides set in 'imports/esds-doc-markup-overrides-testing.njk' #}
{# You could potentially do multiple markup overrides against the same library with multiple calls like this. Might be a good way to do markup-level theming #}
{% set esds_doc_overrides_path = 'test/esds-doc-overrides-testing.njk' %}
{% import 'components/esds-doc.njk' as library_with_markup_overrides with context %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/dependencies/prism.css">
        <link rel="stylesheet" href="/styles/esds-doc.css">
        {% block head_assets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <script src="/scripts/dependencies/prism.js"></script>
        <script src="/scripts/dependencies/prism-json.min.js"></script>
        <script src="/scripts/dependencies/prism-scss.min.js"></script>
        <script src="/scripts/dependencies/prism-twig.min.js"></script>
        <script src="/scripts/dependencies/svg4everybody.min.js"></script>
        <script src="/scripts/dependencies/scrollmonitor.js"></script>
        <script src="/scripts/dependencies/smoothscroll.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <script src="/scripts/esds-doc.js"></script>
        {% block closing_body_assets %}{% endblock %}
    </body>
</html>
