$esds-doc-icon-swatch-background-color: $esds-doc-background-color-default !default; 
$esds-doc-icon-swatch-border: $esds-doc-border-default !default;
$esds-doc-icon-swatch-width: 100px !default;
$esds-doc-icon-swatch-aspect-ratio: 1 !default;
$esds-doc-icon-swatch-large-multiplier: 2 !default;
$esds-doc-icon-swatch-space-inset: $esds-doc-space-inset-half-x !default;

$esds-doc-icon-swatch-text-color-label: $esds-doc-text-color-primary-on-white !default;
$esds-doc-icon-swatch-text-color-link: $esds-doc-text-color-link-on-white !default;

$esds-doc-icon-swatch-height: $esds-doc-icon-swatch-width * $esds-doc-icon-swatch-aspect-ratio !default;

$esds-doc-icon-swatch-space-inset: $esds-doc-space-inset-half-x !default;
$esds-doc-icon-swatch-icon-space-stack: $esds-doc-space-stack-half-x !default;
$esds-doc-icon-swatch-icon-color: $esds-doc-color-neutral-53 !default;
$esds-doc-icon-swatch-icon-size: $esds-doc-icon-size-m;

.esds-doc-icon-swatch {
    @include esds-doc-box-sizing;
    @include esds-doc-font-reset;
    align-items: center;
    border: $esds-doc-icon-swatch-border;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    min-height: $esds-doc-icon-swatch-height;
    padding: $esds-doc-icon-swatch-space-inset;
    position: relative;
    text-align: center;
    width: $esds-doc-icon-swatch-width;
}

.esds-doc-icon-swatch--large {
    min-height: $esds-doc-icon-swatch-height * $esds-doc-icon-swatch-large-multiplier;
    width: $esds-doc-icon-swatch-width * $esds-doc-icon-swatch-large-multiplier;
}


.esds-doc-icon-swatch__icon {
    fill: $esds-doc-icon-swatch-icon-color;
    height: $esds-doc-icon-swatch-icon-size;
    margin: $esds-doc-icon-swatch-icon-space-stack;
    width: $esds-doc-icon-swatch-icon-size;
}

.esds-doc-icon-swatch__label {
    box-sizing: border-box;
    color: $esds-doc-icon-swatch-text-color-label;
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

.esds-doc-icon-swatch__download-link {
    color: $esds-doc-icon-swatch-text-color-link;
}
