{% extends 'templates/base.njk' %}

{% block body %}
    {% filter markdown %}
        # EightShapes Doc Tools
        * [Code Example Pairs](/sink-pages/components/code-example-pairs.html)
        * [Code Snippets](/sink-pages/components/code-snippets.html)
        * [HTML Example Lists](/sink-pages/components/html-example-lists.html)
        * [Icon Swatches](/sink-pages/components/icon-swatches.html)
        * [Page Navigation](/sink-pages/components/page-navigation.html)
            * [with fixed header](/sink-pages/components/page-navigation-with-fixed-header.html)
            * [manually created](/sink-pages/components/page-navigation-manually-created.html)
        * [Reference Tables](/sink-pages/components/reference-tables.html)
    {% endfilter %}
{% endblock %}
