@import './tokens/tokens';
@import './shared/animation';
@import './shared/typography';
@import './shared/layout';

// ==========================================================================
// Components
// ==========================================================================

@import '../components/card/card';
@import '../components/grid/grid';
@import '../components/icon/icon';

// ==========================================================================
// Homepage Styles
// ==========================================================================

html {
  scroll-behavior: smooth;
}

.home {
  section + section {
    margin-bottom: $jonri-codes-space-lg;
  }

  .slide {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 24px);
    padding: $jonri-codes-space-lg;
  }

  .slide-content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
  }

  .slide__anchor-link {
    align-self: center;
    flex-shrink: 0;
    margin: $jonri-codes-space-stack-lg;
  }

  .icon {
    animation: bob-down $jonri-codes-animation-duration + .7 $jonri-codes-animation-easeout-quad infinite;
    transform-origin: 50%;
    will-change: transform;
  }

  .divider {
    border-bottom: $jonri-codes-border-dark;
    margin: $jonri-codes-space-lg auto;
    width: 200px;
  }

  .text-container {
    padding: $jonri-codes-space-xxxl 0;
  }

  .image__container {
    float: left;
    margin-right: $jonri-codes-space-lg;
    shape-margin: $jonri-codes-space-xxl;
    shape-outside: polygon(-1px 168px, 1px -5px, 150px 200px, 410px 192px, 99.82% 51.52%, 390px 518px, 70.64% 80%, -1px 627px);
    width: 500px;
  }

  .article-header {
    .heading-level-2 {
      margin: $jonri-codes-space-stack-xl;
      text-align: center;
    }
  }
}
