@mixin jc-icon-size($size) {
  $size-token: jonri-codes-token('icon', 'size', $size);
  height: $size-token;
  width: $size-token;
}

.icon {
  @include jc-icon-size('md');
  // fill: $jonri-codes-icon-color-default;

  // &:hover {
  //   fill: $jonri-codes-icon-color-hover;
  // }
}

$size-tokens: jonri-codes-token('icon', 'size');

@each $size-key, $value in $size-tokens {
  .icon--size-#{$size-key} {
    @include jc-icon-size($size-key);
  }
}
